<div class="col-md-12">
    <div class="row">
        <label>Categories:</label>
    </div>
    <div class="row">
        <select id="lst_categories"
                ng-model="info.data.categoryID"
                ng-change="onChangeCategory()">
            <option value="">
                Choose instrument type:
            </option>
            <option ng-repeat="category in categoriesList"
                    value="{{ category.id }}">
                {{ category.name }}
            </option>
        </select>
    </div>
</div>