<div class="row">
    <div class="col-md-4 content-left-header-content">
        <div class="col-md-12">
            <div class="row">
                <div class="content-categories" ng-include="viewCategoriesUrl"></div>
            </div>
            <div class="row">
                <div class="content-instruments" ng-include="viewInstrumentstUrl"></div>
            </div>
            <div class="row">
                <div class="content-years" ng-include="viewYearsUrl"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 content-info-experiment">
        <div ng-include="viewInformationExperimentUrl"></div>
    </div>
    <div class="col-md-4 content-calendar">
        <div ng-include="viewCalendarUrl"></div>
    </div>
</div>

