<div class="well">
    <p>
        Madrigal is an upper atmospheric science database used by groups throughout the world.
    </p>

    <p>
        Madrigal is a robust, World Wide Web based system capable of managing
        and serving archival and real-time data, in a variety of formats, from
        a wide range of upper atmospheric science instruments.
        Data at each Madrigal site is locally
        controlled and can be updated at any time, but shared metadata between Madrigal
        sites allow searching of all Madrigal sites at once from any Madrigal site.
    </p>

    <p>Data can be accessed from a variety of Madrigal sites, including (but not limited to)
        <a href="http://madrigal.haystack.mit.edu/madrigal">Millstone Hill</a>, USA,
        <a href="http://madrigal.naic.edu/madrigal">Arecibo</a>, Puerto Rico,
        <a href="http://www.eiscat.se/madrigal">EISCAT</a>, Norway,
        <a href="http://isr.sri.com/madrigal">SRI International</a>, USA,
        <a href="http://landau.geo.cornell.edu/madrigal">Cornell University</a>, USA,
        <a href="http://jro-db.igp.gob.pe/madrigal">Jicamarca</a>, Peru,
        the <a href="http://madrigal.physics.colostate.edu/htdocs">Consortium of Resonance and Rayleigh Lidars</a>,
        the <a href="http://madrigal.iggcas.ac.cn/madrigal/">Institute of Geodesy and Geophysics</a>,
        the Chinese Academy of Sciences, the <a href="http://madrigal.sgo.fi/">University of Oulu</a>, Finland,
        and finally, the archival <a href="http://cedar.openmadrigal.org">CEDAR</a> site.
    </p>

    <p>To see a list of all Madrigal sites, choose <a href="/cgi-bin/madrigal/accessData.cgi">Full Data Access</a> and
        select <em>Go to a different Madrigal site</em>.  Data can also be accessed
        directly, using <a href="rt_contents.html">APIs</a> which are available for several popular
        programming languages (Matlab, python, and IDL). A Subversion archive of all Madrigal software and
        documentation is available from the
        <a href="http://www.openmadrigal.org">Open Madrigal</a> Web site.
        The latest version of Madrigal and the remote API's may also be downloaded from there.
    </p>
</div>