@font-face {
    font-family: 'Raleway', sans-serif;;
}

body {
    padding-top: 60px;
    font-family: Raleway;
}

.divider {
    height: 1px;
    margin: 5px 10px;
    background-color: #e5e5e5;
}

.content-left-header-content,
.content-info-experiment,
.content-calendar {
    margin: 0px;
    border: 0px solid #f00;
}

.select-with-fixed-height {
    height: 30px;
    line-height: 30px;
}

.with-complete-width {
    width: 100%;
}

.calendar-component {
    display:inline-block;
    min-height:290px;
}